svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://web.resource.org/cc/', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sodipodi='http://inkscape.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', width='800', height='600', sodipodi:version='0.32', inkscape:version='0.43', version='1.0', sodipodi:docbase='/home/pulkomandy/Images/logos', sodipodi:docname='apple.svg')
  defs#defs4
    lineargradient#linearGradient5274
      stop#stop5276(offset='0', style='stop-color:#00b400;stop-opacity:1;')
      stop#stop6161(style='stop-color:#00b400;stop-opacity:1;', offset='0.3246707')
      stop#stop5278(style='stop-color:#fff000;stop-opacity:1;', offset='0.3246707')
      stop#stop6163(offset='0.47999999', style='stop-color:#fff000;stop-opacity:1;')
      stop#stop5280(style='stop-color:#ff8200;stop-opacity:1;', offset='0.47999999')
      stop#stop6165(offset='0.63999999', style='stop-color:#ff8200;stop-opacity:1;')
      stop#stop5282(offset='0.63999999', style='stop-color:#c80000;stop-opacity:1;')
      stop#stop6167(style='stop-color:#c80000;stop-opacity:1;', offset='0.79192597')
      stop#stop5284(offset='0.79192597', style='stop-color:#aa0096;stop-opacity:1;')
      stop#stop6169(style='stop-color:#aa0096;stop-opacity:1;', offset='0.94999999')
      stop#stop6171(offset='0.94999999', style='stop-color:#0096ff;stop-opacity:1;')
      stop#stop5286(offset='1', style='stop-color:#0096ff;stop-opacity:1;')
    lineargradient#linearGradient4385
      stop#stop4387(style='stop-color:#009800;stop-opacity:1;', offset='0')
      stop#stop5268(offset='0.25', style='stop-color:#ffdf00;stop-opacity:1;')
      stop#stop5266(offset='0.5', style='stop-color:#ff9800;stop-opacity:1;')
      stop#stop5272(style='stop-color:#cf003f;stop-opacity:1;', offset='0.625')
      stop#stop5270(style='stop-color:#9f4d7f;stop-opacity:1;', offset='0.75')
      stop#stop4389(style='stop-color:#0098ff;stop-opacity:1;', offset='1')
    lineargradient#linearGradient4391(inkscape:collect='always', xlink:href='#linearGradient5274', x1='2.6664381', y1='53.415836', x2='84.485001', y2='53.415836', gradientunits='userSpaceOnUse', spreadmethod='pad', gradienttransform='matrix(0,6.047896,-6.047896,0,723.0535,36.45844)')

  g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer')
    path#path1560(style='fill:url(#linearGradient4391);fill-opacity:1', d='M523.15657-1.4286898e-6C477.65307 4.6954686 450.8123 28.175739 433.51532 51.500229 420.50925 69.527629 403.43901 97.591429 401.64671 131.75041 441.73506 129.62222 458.01806 116.87103 478.68472 100.16546 504.43058 76.808769 523.19718 29.393519 523.15657-1.4286898e-6zM524.18924 143.02014C489.45541 142.8046 457.04977 155.69832 424.1094 164.62692 386.20636 172.65202 353.69989 143.42411 316.13257 144.03897 250.63821 137.99875 190.2313 185.00019 168.23647 244.88821 135.37723 326.91176 158.32002 419.64617 199.46426 494.27529 221.94858 533.51769 267.98856 602.24017 317.20266 599.64104 339.78019 600.84354 374.50391 585.90059 416.183 579.18622 456.31425 577.97817 493.83905 609.4531 534.38888 597.13626 579.79192 575.19196 609.93381 530.57318 631.53074 486.45694 637.6954 472.61053 642.21287 458.12175 647.41517 443.9031 552.39515 405.84423 528.25829 262.2578 630.43215 198.76435 616.95041 174.12789 599.18969 160.85262 580.41309 152.89219 561.92292 147.38537 543.1169 142.86063 524.18924 143.02014z', sodipodi:nodetypes='cccccccccccccccccc')
